/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styling */
h1 {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

/* Form styling */
form {
    text-align: center;
    margin: 20px;
}

/* Input and select box styling */
input[type="text"], select {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Submit button styling */
input[type="submit"] {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dropdown styling */
select {
    background-color: #fff;
}

/* Styling for search results (customize as needed) */
h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 18px;
}

.card p {
    font-size: 14px;
}

/* Add your custom styles here */
.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggle-buttons button.active {
    background-color: #007bb5;
}